extends layout

block content
  h1= title
  -var image_names =['Beetroot.jpg','Bittergourd.jpg','Brinjal.jpg','carrot.jpg','Cauliflower.jpg']
  -for (let i=0;i<3;i++){
    -var randomnumber=Math.floor(Math.random()*5)
    img(src=`/images/${image_names[randomnumber]}` , alt=`Random Image ${i}`,height="300",width="300")
  -} 